<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Новое сообщение</title>
</head>
<body>

<form th:method="POST" th:action="@{/messages}">
    <label for="message">Enter message: </label>
    <input type="text" th:field="*{message.text}" id="message"/>
    <div style="color:red" th:if="${#fields.hasErrors('message.text')}" th:errors="*{message.text}">Name Error</div>
    <label for="message_tag">Enter tag: </label>
    <input type="text" th:field="*{message.tag.tagName}" id="message_tag"/>
    <div style="color:red" th:if="${#fields.hasErrors('message.tag.tagName')}" th:errors="*{message.tag.tagName}">Name Error</div>
    <br/>
    <input type="submit" value="Create!"/>
</form>

</body>
</html>