<!DOCTYPE html>
<html lang="en" xmlns:th="http://thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Сообщения</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/js/bootstrap.bundle.min.js"
            integrity="sha384-pprn3073KE6tl6bjs2QrFaJGz5/SUsLqktiwsUTF55Jfv3qYSDhgCecCxMW52nD2"
            crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/masonry-layout@4.2.2/dist/masonry.pkgd.min.js"
            integrity="sha384-GNFwBvfVxBkLMJpYMOABq3c+d3KnQxudP/mGPkzpZSTYykLBNsZEnG2D9G/X/+7D" crossorigin="anonymous"
            async></script>
</head>
<body>

<div class="row" data-masonry='{"percentPosition": true }'>
    <div class="col-sm-6 col-lg-4 mb-4" th:each="note : ${notes}">
        <div class="card">
            <div class="col-10 mb-2">
                <h5 class="card-title" th:text="${note.getTitle()}">note</h5>
            </div>
            <div class="card-body" th:each="entry : ${note.getEntries()}">
                <div class="col-10 mb-2">
                    <p class="card-text" th:text="${entry.getText()}">entry</p>
                </div>
            </div>
            <div class="col-2 mb-2">
                <a class="btn btn-primary" th:href="@{/notes/{id}(id=${note.getId()})}">...</a>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-2 mb-2">
            <a class="btn btn-primary" href="/notes/new">Create new note</a>
        </div>
    </div>
</div>

</body>
</html>