<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Getting Started: Serving Web Content</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <!--<script th:inline="javascript">
        function showAlert() {
            alert("The button was clicked!");
        }
    </script>-->
    <script type="text/javascript" th:src="@{/js/main.js}"></script>
</head>
<body>
<div>
    <form th:action="@{/logout}" method="post">
    <input type="submit" value="Sign Out"/>
</form>
</div>
<div>
    <form th:action="@{/main}" method="post">
        <input type="text" name="text" placeholder="Введите сообщение" />
        <input type="text"  name="tag" placeholder="Тэг"/>
        <button type="submit">Добавить</button>
    </form>

</div>
<div>Список сообщений</div>
<form th:action="@{/filter}" method="post">
        <input type="text" name="filter" />
        <button type="submit">Найти</button>
    </form>
    <div th:each="tag,iterRow : ${tags}" th:class="'tag ' +  ${tag}"> <!-- iteration over rows -->
        <p th:text="${tag.getName()}"></p>
            <div class="seat" th:each="message,iterSeat : ${messages}">  <!-- iteration over seats for each row -->
                <input type="checkbox" th:id="${iterRow.count} + ${message}" th:if= "${message.getTag().equals(tag)}">
                <label th:for="${iterRow.count} + ${message}" th:text="${message.getText()}" th:if= "${message.getTag().equals(tag)}"></label>
                <a th:href="@{/main(id=${message.getId()})}" th:if= "${message.getTag().equals(tag)}"> &#10006;</a>
            </div>
    </div>
<form th:action="@{/delete}" method="post">
<input type="text" name="filter" />
    <button type="button" th:onclick="showAlert2()">Show Alert</button>
</form>

</body>

</html>